QWidget {
    background-color: #f0f0f0;
}

EditedButton {
    background-color: #3498db;
    border: 1px solid black;
    border-radius: 10px;
    font-family: Arial;
    text-align: center;
    color: #000000;
}

EditedLabel {
    color: #000000;
    qproperty-alignment: AlignCenter;
    font-family: Arial;
}

EditedButton:hover {
    background-color: #2980b9;
}

EditedButton:pressed {
    background-color: #1c6ea4;
}

QMainWindow {
    background-color: #f0f0f0;
}

QDialog {
    background-color: #f0f0f0;
    color: #000000;
    font-family: Arial;
}

.dialogWindow {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial;
}

CustomDialog {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial;
}

EditedButton:disabled {
    background-color: #696970;
}

EditedTextEdit {
    border: 1px solid black;
    font-family: Arial;
    color: #000000;
    background-color: #ffffff;
}

QComboBox {
    background-color: #d9d9d9;
    border: 2px solid black;
    font-family: Arial;
    color: #000000;
}

QComboBox QAbstractItemView {
    background-color: #d9d9d9;
    border: 2px solid black;  
    color: #000000;  
    selection-background-color: #e0e0e0;
    selection-color: #000000; 
}

QLineEdit {
    background-color: #d9d9d9;
    border: 2px solid black;
    font-family: Arial;
    color: #000000;
}

.dark {
    background-color: #000000;
}

.message {
    border: 1px solid black;
    font-family: Arial;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-align: center;
}

EditedLabel.settings_labels {
    color: #000000;
    qproperty-alignment: 'AlignRight | AlignVCenter';
    font-family: Arial;
}

.names {
    color: #000000;
    font-family: Arial;
    border: 1px solid black;
}